/* .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    margin-bottom: 100px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-member {
    flex-basis: calc(50% - 20px);
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    margin: 5px;
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
  }
  
  .item img {
    width: 100px; 
    height: 100px; 
  }
/


  /* members_third_page.css */

/* Add a CSS rule for the main container */
.main-div {
    text-align: center; /* Center-align the content horizontally */
    height:600px;

  }
  
  /* Style the heading */
  .Team-heading {
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some spacing between the heading and the grid */
    font-weight: bold;
    margin-top: 50px;

  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-member {
    flex-basis: calc(50% - 20px); /* 2 columns with spacing */
    margin: 10px; /* Spacing between items */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .item {
    margin: 10px; /* Spacing between image and text */
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: black;

  }
 
  
  /* .item img { */
    /* width: 100px; Adjust image width as needed */
    /* height: 100px; Adjust image height as needed */
  /* } */

  .suaysh{
    display: flex;
    gap: 20px;
    /* width: 80%; */
    flex-basis: calc(50%);
    flex-direction: row;
    align-items: center;
   /* background-color: red; */
   margin-left: 20%;
   margin-top: 20px;

    
  }

  .suyashCenter{
    display: flex;
    flex-basis: calc(40%);
    justify-content: center;
    align-items: center;
    
  }
 
  .link Link{
    color: white;
    background-color: red;
    text-decoration: none;
  }