.article_brg{
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 373px;
    height: 248px;
    flex-shrink: 0;
}

.article_card{
    width: 373px;
    height: 248px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.para1{
    position: relative;
    bottom: 233px;
    width: 80%;
    left: 32px;
}

.para1 h3{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: initial;
}

.para1 h3 h4{
    color: grey;
    font-family: Noto Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 71%;
    position: relative;
    left: 60px;
    bottom: 17px;
}

.para1 a{
    color: #323AFF !important;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    bottom: 25px;
    right: 69px;
}

.para2{
    position: relative;
    bottom: 228px;
    width: 80%;
    left: 20px;
}

.short-summary{
    color: grey;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 137px;
    margin-top: -15px;
    width: 68%;
}

.short-summary a{
    color: #323AFF !important;
    font-family: Noto Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.para2_heading1{
    width: 108%;
    position: relative;
    color: grey;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: 81px;
    top: 5px;
}

.para2_heading2{
    width: 108%;
    position: relative;
    color: grey;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: 128px;
    top: 0px;
}

.para2_heading3{
    width: 108%;
    position: relative;
    color: grey;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: 117px;
    top: -3px;
}

.para2_heading4{
    width: 108%;
    position: relative;
    color: black;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: 38px;
    top: -8px;
}

.logo_for_card{
    position: relative;
    bottom: 306px;
    width: 38%;
    left: 252px;
    z-index: 5;
}

.logo_for_card_heading1{
    width: 108%;
    position: relative;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: -12px;
    bottom: 160px;
}

.logo_for_card_heading3{
    width: 108%;
    position: relative;
    color: black;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: 10px;
    bottom: 108px;
    z-index: -1;
}

.logo_for_card_heading2{
    width: 108%;
    position: relative;
    color: #88B5B8;
    font-family: Noto Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    right: -5px;
    bottom: 165px;
}
