
.pc-1 {
  text-transform: capitalize;
  appearance: none;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  color:  black;
  cursor: pointer;
  font-family: 'Somera';
  font-size: 20px;
  font-weight: bolder;
  line-height: normal;
  margin: 0;
  border-color:#fff;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.pc-1:disabled {
  pointer-events: none;
}

.pc-1:hover {
  color: #fff;
  background-color:#053B3F;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.pc-1:active {
  box-shadow: none;
  transform: translateY(0);
}
.pc-2{
    display:grid;
}



