.greenLine {
    /* margin-top: -75px; */
    position: relative;
    bottom: 13px;
}

.buttonOnLine {
    margin-top: -46px;
    fill: #053B3F;
    flex-shrink: 0;
}

.pathies {
    position: relative;
    bottom: 65px;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttonForDisease {
    padding-bottom: 30px;
}

.button1 {
    width: 450px;
    height: 70px;
    border: 1px solid rgba(5, 59, 63, 0.23);
    background: #E9FFFF;
    color: #000;
}

.button2 {
    width: 450px;
    height: 70px;
    border: 3px solid #E9FFFF;
    background: #053B3F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .button3 {
    width: 450px;
    height: 70px;
    border: 1px solid rgba(5, 59, 63, 0.23);
    background: #E9FFFF;
    color: #000;
    ;
} */

.button3:hover {
    background-color: #053B3F;
}


.button1:hover {
    background-color: #053B3F;
}


.button2:hover {
    background-color: #053B3F;
}

.cardForPathies {
    position: relative;
    bottom: 115px;
    display: block;
    width: 253px;
    height: 253px;
}

.cowImage {
    /* background: url('D:\health umbrella frontend\health_umbrella_foundation_frontend\public\Images\cow.png'); */
    width: 101px;
    height: 141px;
    display: inline-block;
    position: relative;
    top: 163px;
    right: 11px;

    /* left: 179px;
    width: 101px;
    height: 141px;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    bottom: 177px; */
}
.newcowImage {
    /* background: url('D:\health umbrella frontend\health_umbrella_foundation_frontend\public\Images\cow.png'); */
    position: relative;
    left: 72px;
    width: 101px;
    height: 141px;
    flex-shrink: 0;
}

.cardName {
    /* display: inline-block;
    position: relative;
    bottom: 104px;
    color: #053B3F;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    right: 185px; */

    position: relative;
    bottom: 106px;
    color: #053B3F;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cardPara {
    color: #000;
    text-align: justify;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 208px;
    position: relative;
    left: -7px;
    bottom: 12px;
    display: inline-block;
}



.divForPara {
    margin: 18px;
    position: relative;
    bottom: 108px;
}
