.hfp_outer{
    border-radius: inherit;
    display: flex;
    gap: 4rem;
    width: 100%;
}

.disease_outer_right{
    flex: 0 0 30%;
    /* border:2px solid yellow; */
}

.disease_outer_right img{
    /* margin-left: -10px; */
    width: 444px;
    height: 491px;
    object-fit: contain;
    background-size: 100% 100%;
    /* background-image: url('D:\health umbrella frontend\health_umbrella_foundation_frontend\public\Images\migrane.jpg'); */
}

.disease_outer_left_flex {
    height: 491px;
    flex: 0 0 60%;
    /* border:2px solid red; */
    /* margin-bottom: 112px; */
}

.disease_outer_left {
    text-align: left;
   width:90%;
}

.disease_outer_left_heading{
    color: #053B3F;
    font-family: Noto Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 9px;
}

.disease_outer_left_smallerheading{
    color: #000;
    text-align: justify;
    font-family: Nobile;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
}